@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --color-primary-50: #fff0f2;
  --color-primary-100: #ffdde1;
  --color-primary-200: #ffc0c8;
  --color-primary-300: #ff94a1;
  --color-primary-400: #ff576c;
  --color-primary-500: #ff233f;
  --color-primary-600: #ff0020;
  --color-primary-700: #d7001b;
  --color-primary-800: #b10319;
  --color-primary-900: #920a1b;
  --color-primary-950: #50000a;

  --color-secondary-50: #fdf3f3;
  --color-secondary-100: #fae9e9;
  --color-secondary-200: #f5d6d7;
  --color-secondary-300: #edb4b6;
  --color-secondary-400: #e3898e;
  --color-secondary-500: #d45f68;
  --color-secondary-600: #bf4050;
  --color-secondary-700: #a03041;
  --color-secondary-800: #862b3c;
  --color-secondary-900: #732838;
  --color-secondary-950: #3f121a;

  --font-display: 'Montserrat', sans-serif;
  --font-sans: 'Noto Sans', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;

  --tw-ease: linear;
  --tw-duration: 0.1s;
}

.button {
  @apply transition-all inline-block bg-primary-700 text-primary-50 rounded-4xl py-2 px-4 shadow-xl inset-shadow-sm inset-shadow-primary-500
		hover:bg-primary-600 hover:scale-105 hover:shadow-2xl hover:inset-shadow-primary-400
		active:bg-primary-700 active:scale-95 active:shadow-none active:inset-shadow-primary-900;
}

.icon-button {
  @apply transition-all inline-block text-primary-50
		hover:border-primary-500 hover:scale-150 hover:drop-shadow-2xl
		active:text-primary-800 active:scale-80 active:drop-shadow-xs;
}
